.movies-card {
  line-height: 0;
  background: #222222;
  box-shadow: 0px 4px 30px rgb(0 0 0 / 8%);
  border-radius: 6px;
  list-style: none;
}

.movies-card__text {
  padding: 14px;
}

.movies-card__title {
  margin: 0;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.movies-card__duration {
  color: #8B8B8B;
  margin: 0;
  margin-top: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.movies-card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-card__save {
  width: 30px;
  height: 30px;
  background-image: url(../../images/save9.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s linear .3s;
}

.movies-card__save:hover {
  opacity: .7;
}

.movie-card__delete {
  width: 30px;
  height: 30px;
  background-image: url(../../images/delete.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s linear .3s;
}

.movie-card__delete:hover {
  opacity: .7;
}

.movie-card__delete-caption {
  visibility: hidden;
}

@media screen and (max-width: 1145px) {
  .movies-card {
    display: none;
  }
  .movies-card:nth-child(-n+8) {
    display: block;
  }
  .movies-card__image {
      width: 339px;
  }
}

@media screen and (max-width: 400px) {
  .movies-card:nth-child(-n+8) {
    display: none;
  }
  .movies-card:nth-child(-n+5) {
    display: block;
  }
  .movies-card__image {
      width: 300px;
  }
}
