.filter {
  display: flex;
  min-width: 167px;
  height: 40px;
  border-bottom: 1px solid #424242;
  padding-top: 42px;
  padding-bottom: 70px;
  align-items: center;
  justify-content: center;
}

.filter__form-label {
  display: block;
}

.filter__label {
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  margin-left: 14px;
}

.filter__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filter__pseudo-checkbox {
  display: inline-block;
  width: 36px;
  height: 20px;
  background-color: #2BE080;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s linear .3s;
}

.filter__pseudo-checkbox:hover {
  opacity: .7;
  cursor: pointer;
}

.filter__checkbox:checked + .filter__pseudo-checkbox {
  background-color: #fff;
}

.filter__pseudo-checkbox::after {
  content: '';
  position: absolute;
  margin-top: 2px;
  margin-left: 18px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 768px) {
  .filter {
    min-width: 168px;
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 320px) {
  .filter {
    padding: 36px 0 0;
  }
  .filter__label {
    font-size: 11px;
    line-height: 18px;
  }
}
